@*
    @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })
*@

@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    
        <p>@Job.Title</p>
        <ul>
            <li>@Job.Description</li>
        </ul>
           @*unclaimed jobs will be shown*@
        @if (Job.Worker == null)
        {
            <div id="claim-@Job.JobId">
                <p>This job is unclaimed. <button class="edit-claim" value="@Job.JobId">Claim This Job</button></p>
                <div id="return-claim-@Job.JobId">

                </div>
                <p class="result-test"></p>
            </div>

 
        }

        else
        {
            <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

    }

    
    @if (Job.Pending == false)
    {
        <div id="activate-@Job.JobId">
            <p>This job is pending <span class="activate btn" id="@Job.JobId">Activate this job</span></p>
        </div>
    }
   
    else
    {
        <p>This job is active</p>

    }


    <hr />
}

